installCRDs: ${install_custom_resource_definitions}
replicaCount: ${replica_count}
nodeSelector:
  ${node_selector}
prometheus:
  enabled: ${metrics}
webhook:
  replicaCount: ${webhook_replica_count}
  nodeSelector:
    ${webhook_node_selector}
cainjector:
  replicaCount: ${cainjector_replica_count}
  nodeSelector:
    ${cainjector_node_selector}